@import "./variables";

%display-flex{
    display: flex;
}

%input-text{
    padding: 4px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #864AF9;
    padding-left: 1rem;
   
}

%card-color{
    background-color: $blue;
    padding: 1rem;
    border-radius: 5px;
}


%btn{
    padding: 0.6rem 1rem;
    font-size: smaller;
    border-radius: 5px;
    border: none;


    &:hover{
        cursor: pointer;
      }
}